* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    
}

body {
    background-color: rgb(255, 255, 255);
}


main{
    width: 100%;
    height: 100vh;


}


header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #000000;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.13);
    justify-content: space-between;
    color: white;
}

#header-logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#header-logo img {
    width: 50%;
    height: auto;
}

.header-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.header-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header-menu ul li a:hover {
    color: #8f0000;
}

#menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.header-menu ul {
    display: flex;
}



main .main-slider{
    width: 100%;
    height: 80vh;
}


/* ABOT ALANI */
main .main-about{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .main-about-header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-about .main-about-header h1 {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    


}

main .main-about .main-about-body{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid gray;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

main .main-about .main-about-body p{
    line-height: -50px;

}



main .main-about .main-about-footer{
    width: 100%;
    height: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-about .main-about-footer .main-about-btn{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(172, 132, 0);
    color: rgb(255, 255, 255);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.1rem;
    border: 5px solid rgb(0, 0, 0);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}




/*BİZE KATILIN ALAN CSS KODLAR*/
.main-bize-katilin{

    width: 100%;
    height: 70vh;
    display: flex;
}

.main-bize-katilin-left{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.main-bize-katilin-left img{
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.main-bize-katilin-right{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-self: start;
    align-items: flex-start;
    flex-direction: column;
}

.main-bize-katilin-right-header{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bize-katilin-right-header h2{
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.main-bize-katilin-right-body{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main-bize-katilin-right-body p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    
}

.main-bize-katilin-right-footer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.main-bize-katilin-right-footer button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(255, 233, 213);
    color: rgb(0, 0, 0);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.1rem;
    border: 5px solid rgb(252, 86, 86);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-right: 70px;
}

/*BİZE KATILIN ALAN CSS KODLAR*/

/*REFERANSLARIMIZ ALANI CSS KODLARI*/

.main-referance{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    

}
.main-referance .main-referance-box {
    width: auto;
    height: 50%;
    margin: 5px;
}

.main-referance .main-referance-box img {
    width: 100%;
    height: 100%;
}



/*REFERANSLARIMIZ ALANI CSS KODLARI*/



























.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
 }

  .swiper-slide img {
    display: block;
    width: 100%;
}



/* ABOUT (HAKKIMIZDA ALANI) */






